<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LateFee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="letterbox">
        <div class="letterbox-bar top"></div>
        <div class="center-banner">
            <a href="{{ url_for('list_users') }}" class="latefee-logo-link">
                <span class="latefee-logo">LateFee</span>
            </a>
            <div class="claim">Where the only thing overdue is a rewatch!</div>
        </div>
        <div class="letterbox-bar bottom"></div>
    </div>
</body>
</html>
